body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: $primary-color;
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-white {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-preloader{
  animation-name: spin;
  animation-duration: 1.00s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  // animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
  // @include tablet {height: 100px; width: 100px;}
  // @include mobile {height: 90px; width: 90px;}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a{
  color: inherit;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

a.text-primary:hover {
  color: $primary-color!important;
}

a.text-light:hover {
  color: $primary-color!important;
}

h4{
  transition: .2s ease;
}
a h4{
  &:hover{
    color: $primary-color;
  }
}

.slick-slide {
  outline: 0;
}

.section-first {
  padding: 40px 0;
  // padding: 40px 40px 0 40px;
  //padding: 140px 40px 20px;
}

.section {
  padding: 20px 35px;

  &-sm {
    // padding: 25px;
    // padding: 0 25px 25px 25px;
    padding: 0 45px;
    background-color: #F5F5F5;

    @include desktop { padding: 0 20px 25px; }
    @include tablet  { padding: 0 20px 25px; }
    @include mobile  { padding: 0 10px 25px; }
  }

  &-title {
    margin-bottom: 30px;
  }
}

.section-new-bg { background: #F9F9F9; }

.bg-cover {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-cover-home {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: $primary-color !important;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    // background: linear-gradient(76deg, hsl(0, 0%, 0%) 20%, hsl(192, 100%, 28%) 90%);
    // background: linear-gradient(76deg, hsl(0, 0%, 0%) 0%, hsla(192, 100%, 28%, 0.60) 80%);
    // background: $black;
    // opacity: .6;
  }
}

.overlay-white-about {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    background: linear-gradient(90deg, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 100%, 0.75) 100%);
  }
}


.container.header { 
  // text-shadow: 1px 2px 2px hsla(0, 0%, 0%, 0.93); 
  max-width: 95%; 
}

.bg-overlay {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  backdrop-filter: blur(5px);  
  background-attachment: scroll;
}


.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-secondary {
  background: $secondary-color !important;
}

.bg-gray {
  background: $gray;
}

.text-primary {
  color: $primary-color !important;
}

.texto-negro {
  color: $secondary-color;
}

.text-color {
  color: $text-color;
}

.text-white { color:$white; }

.text-light {
  color: $text-color-light !important;
}

.text-lighten{
  color: #d6d6e0 !important;
}

.text-muted {
  color: #b5b5b7 !important;
}

.text-dark {
  color: $text-color-dark !important;
}

.font-secondary {
  font-family: $secondary-font;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pl-150 {
  padding-left: 150px;
}

.zindex-1 {
  z-index: 1;
}

.overflow-md-hidden {
  @include desktop {
    overflow: hidden;
  }
}

.vertical-align-middle{
  vertical-align: middle;
}

.icon-md { font-size: 36px; }
.icon-sd { font-size: 25px; }

/* page title */
.page-title-section {
  padding: 250px 0 80px;

  @include tablet {padding: 150px 0 80px;}
  @include mobile {padding: 120px 0 80px;}
}

.custom-breadcrumb {
  li {
    &.nasted {
      position: relative;
      padding-left: 25px;

      &::before {
        position: absolute;
        font-family: $icon-font;
        content: "\e649";
        font-size: 20px;
        top: 50%;
        left: -5px;
        color: $white;
        transform: translateY(-50%);
      }
    }
  }
}

/* /page title */

.list-styled{
  padding-left: 25px;
  li{
    position: relative;
    margin-bottom: 15px;
    &::before{
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: $primary-color;
      left: -25px;
      top: 5px;
    }
  }
}

textarea.form-control{
  height: 200px;
  padding: 20px;
}

#map_canvas{
  height: 500px;
}



.post-thumb-sm {
  max-width: 100px;
}


/* pagination */
.pagination {
  justify-content: center;
  .page-item {
    margin: 0 10px;

    &.active {
      .page-link {
        background: $primary-color;
        color: $white;
        border-color: $primary-color;
      }
    }

    &:first-child .page-link,
    &:last-child .page-link {
      border-radius: 0;
    }

    .page-link {
      color: $text-color;
    }
  }
}


.content {
  * {
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 20px;
  }

  ul {
    padding-left: 0;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      list-style-type: none;

      &::before {
        position: absolute;
        content: "\e65d";
        font-family: $icon-font;
        font-size: 14px;
        left: 0;
        top: 1px;
        color: $primary-color;
        transition: .3s ease;
      }
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: $light, $amount: 2);
    }

    tbody {
      background: $light;

      td {
        text-align: left !important;
      }
    }
  }


  blockquote {
    p {
      margin-bottom: 0;
      color: $text-color;
      font-style: italic !important;
    }
  }


  pre {
    padding: 10px 20px;
    background: $light;
  }
}

.teacher-thumb-sm{
  height: 85px;
  width: 85px;
  object-fit: cover;
}

// Nav-tabs de
div#nav-tab > a { text-decoration: none; }

// para que las imagenes de dentro del markdown se vean bien
p > img { height: 170px; }

// para hacer que el logo de wasap para la seccion de contacto, se vea bien de tamaño del icono
img[src$='#wasap'] { height: auto; }

.custom-border-image { border-radius: 64% 36% 66% 34% / 27% 76% 24% 73%; }

#powered_by a, #powered_by { display: none !important; }
form + #powered_by, #payment_step + #powered_by { display: none !important; }


.bouncing { animation: bounce 2s ease infinite;  -webkit-animation: bounce 1s infinite alternate; }
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@include mobile  {
  .navbar {
    padding: 0;
    // padding: 0.5rem 1rem;
  }
}


.navbar-toggler-icon-close {
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

div#navbar-close > i.ti-x-circle {
  font-size: 35px;
  color: hsla(0, 0%, 0%, 0.5);
  transition: all 300ms ease-in-out;
}

.hidden         { display: none; }
.navbar-toggler { padding:0; }