/*  typography */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

html { 
  scroll-behavior: smooth;
  // magia para hacer el scroll perfecto con numeros magicos
  scroll-padding-top: var(--scroll-padding, 100px);
}

@font-face {
  font-family: 'futura-bold';
  src: url('../fonts/Futura-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: $size_text_p;
  color: $text-color-body;
}

p, .paragraph {
  font-weight: 400;
  color: $black;
  font-size: $size_text_p;
  line-height: 1.9;
  font-family: $primary-font;
  white-space: pre-wrap;
  text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
  color: $secondary-color;
  font-family: $primary-font;
  font-weight: bold;
  line-height: 1.2;
}

h1, .h1{
  font-size: 42px;
  @include mobile {
    font-size: 30px;
  }
}

h2, .h2{
  font-size: 30px;
  @include mobile {
    font-size: 25px;
  }
}

h3, .h3{
  font-size: 25px;
  @include mobile {
    font-size: 20px;
  }
}

h4, .h4{
  font-size: 20px;
  @include mobile {
    font-size: 18px;
  }
}

h5, .h5{
  font-size: 18px;
  @include mobile {
    font-size: 16px;
  }
}

h6, .h6{
  font-size: 16px;
  @include mobile {
    font-size: 14px;
  }
}

// Links inside paragraphs
p > a {
  color: $primary-color;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}