// Color Variables
$primary-color: #007591;
$secondary-color: #141414;
$text-color-body: #000;
$text-color: #5c5c77;
$text-color-light: #8585a4;
$text-color-dark: #1e1e4b;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;
$border-color-card-date: #2c2c2c;
$bg-color-gris-pmba: #F5F5F5;
$bg-color-bullets-pmba: #9e9e9e;


// Font Variables
$primary-font: 'Montserrat', sans-serif;
//$primary-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", 'Montserrat', sans-serif;;
$secondary-font: 'futura-bold';
$icon-font: 'themify';
$size_text_p: 18px;

//Size text variables
$size-text-h1: 42px;
$size-text-h2: 30px;
$size-text-h3: 25px;
$size-text-h4: 20px;
$size-text-h5: 18px;
$size-text-h6: 16px;

$categorias-text-size: 15px;

// Figma new variables
// $color-texto-genero-masculino: #269CDE; // antiguo cesar
$color-texto-genero-masculino: #1B7DB6;
$color-texto-genero-femenino: #E7135D;
//$color-texto-genero-mixto: #2BD78F;  // antiguo cesar
$color-texto-genero-mixto: #28816A;


// Card-date bg color disponible/finalizado
$finalizado-bg-color: rgb(192, 1, 1);
$disponible-bg-color: rgb(3, 110, 3);

// Colores estado del torneo
// $estado-torneo-abierto: #5EF268; // antiguo cesar
$estado-torneo-abierto: #0D8715;
// $estado-torneo-cerrado: #F20519; // antiguo cesar
$estado-torneo-cerrado: #EB0518;
// $estado-torneo-suspendido: #B7B9BB; // antiguo cesar
$estado-torneo-suspendido: #74767B;

// Torneos Tipo de Categoria para Premios
$color-categoria-premio-torneo-masculino: $primary-color;
$color-categoria-premio-torneo-femenino: #B319FF;
$color-categoria-premio-torneo-mixto: #2E947C;