<div class="card border-0 rounded-0 hover-shadow">
  <div class="card-img position-relative">
    <a href="{{ .Permalink }}" title="{{ .Title }}"><img class="card-img-top rounded-0" src="{{ .Params.image | relURL }}" alt="{{ .Title }}"></a>
    <div class="card-date"><span>{{ .Date.Format "02" }}</span><br>{{ .Date.Format "Jan" }}</div>
  </div>
  <div class="card-body">
    <!-- location -->
    <p><i class="ti-location-pin text-primary mr-2"></i>{{ .Params.club_nombre_torneo | title }} ({{ .Params.ciudad_torneo | title }})</p>
    <span class="card-title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></span>
  </div>
</div>