<div class="padel-manager py-5">
    <img class="logo-padel-manager mr-4" src="/images/torneos/logo/padel-manager/padel-manager-logo.svg" alt="imagen padelmanager logo">
    <span class="info-padelmanager">Recuerda que debes tener instalada la <strong>App de PadelManager</strong> para poder <strong>inscribirte al torneo.</strong></span>
    <div class="logos-padel-manager">
        <a target="_blank" rel="nofollow" title="Padel Manager Android" href="https://play.google.com/store/apps/details?id=com.padelmanager.padelmanager&amp;hl=es"><img src="/images/torneos/logo/padel-manager/padel-manager-google-play-pmba.svg" alt="padel manager android"></a>
        <a target="_blank" rel="nofollow" title="Padel Manager iOS" href="https://apps.apple.com/es/app/padel-manager/id1084646571?l=es"><img src="/images/torneos/logo/padel-manager/padel-manager-apple-store-pmba.svg" alt="padel manager iphone"></a>
    </div>
</div>

<a style="width: 100%; padding: 25px;" target="_blank" href="https://padelmanager.com/app-link/tournament/{{ .Params.padelmanager_id }}" title="Inscripción al Torneo {{.Title}}" class="btn btn-primary btn-lg mt-2 efecto-boton-pmba" role="button">💳 Inscripción al Torneo</a>