<!-- page title -->
<section class="page-title-section overlay" style="background: url('{{ .Params.Bg_image | relURL}}'), #000; background-position: center center; background-repeat: no-repeat; background-size: cover;">
    <div class="container header">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline custom-breadcrumb">
            <h1 class="list-inline-item text-white"><i class="ti-info text-white"></i> {{ .Title }}</h1>
            {{/*  <li class="list-inline-item text-white h2 font-secondary"></li>  */}}
          </ul>
          <p class="text-white">{{ .Params.Description | markdownify }}</p>
        </div>
      </div>
    </div>
</section>