<section class="section-new-bg p-3">
    <div class="container">
        <div class="row justify-content-center mx-lg-n3 px-sm-4 px-md-4">
            <p class="h2 font-weight-bold mb-4">Los torneos PadelMBA han sido sólo el comienzo</p>
            
            <p class="font-weight-normal text-center">Nace el primer circuito de pádel con la experiencia de juego <strong>100% PadelMBA</strong> y nuestro gran formato perfeccionado durante más de 78 torneos a nivel internacional.</p>

            <p class="font-weight-normal text-center">Nuestro primer circuito para jugadores tendrá lugar en la <strong>Comunidad de Madrid</strong>, <br />con <strong>54 torneos</strong> repartidos en <strong>22 fechas</strong> y <strong>Máster Final</strong> para los finalistas de nuestro <strong>ranking de jugadores.</strong></p>
        </div>
        <a class="row justify-content-center mx-auto" href="#listado-circuito-pmba" title="Ver el listado de torneos del Circuito PadelMBA 2022/2023"><button type="button" class="btn btn-outline-primary btn-sm">Torneos del Circuito</button></a>
    </div>
</section>